/* Google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Asterisc wildcard to override defult styles added by browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
/* Making root color for header and footer to change easier */
:root {
    --background: #fafafa;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*General project styles*/
    color: #1F1E1B;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Martian Mono', sans-serif;
    font-size: 1.6rem;
    color: #030202;
}

/* Hide the heading on the nutrition.html page */
#diet-info>h2 {
    display: none;
}

#intro>h2 {
    display: none;
}

/* Header */
header {
    background-color: var(--background);
    padding: .5rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    display: flex;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Adding logo next to the header */
#logo-v {
    background: url(../images/logo.webp) no-repeat center center/cover;
    height: 1.5rem;
    width: 1.1rem;
    position: absolute;
    top: .8rem;
    left: 10.2rem;
}

/* Styling the menu items */
#menu {
    list-style-type: none;
    font-size: 120%;
    margin: 0;
    padding: 0;
}

#menu>li {
    margin-bottom: .4rem;
    margin-right: .8rem;
    text-align: right;
    color: #030202;
}

.active {
    font-weight: bold;
}

/* Styling the dropdown menu for the nav bar*/
nav {
    position: absolute;
    background-color: var(--background);
    width: 100%;
    left: 0;
    top: 100%;
    padding: 0 1rem;
    display: none;
}

/* Nav toggle */
#nav-bar:checked~nav {
    display: block;
}

#nav-bar {
    display: none;
}

.nav-toggle-label {
    font-size: 1.6rem;
}

/* Main content */

main {
    /* Adding background image */
    background: url("../images/background.webp") top 13% left 80%/115%;
    background-color: #cfbda9;
    /* Make the background less active */
    background-blend-mode: darken;
    background-repeat: repeat-y;
    /*min-height: 97rem; */
    /* Make the element to take op the whole space*/
    background-color: #cfbda9;
    /* Make the element to take op the whole space*/
    flex: 1 0 auto;
    margin-top: 3.4rem;
}

/* To position divs inside the section */
#landing-page {
    position: relative;
}

/* Styling hero image for mobile phones */
#hero-img {
    height: 20rem;
    width: 100%;
    /*border-bottom: 1rem solid #fafafa;*/
    background: url("../images/hero.webp") no-repeat top 45% left -24%/cover;
    background-size: 200%;
}

#quote {
    position: absolute;
    max-height: 8rem;
    min-width: 12rem;
    padding: .6rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .8);
    font-size: 110%;
    text-align: center;
    top: 60%;
}

/* Designing the intro section for home page and nutrition page */
.nutrition-info {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.nutrition-info h2 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.nutrition-info h3 {
    font-size: 1rem;
    text-align: center;
}

.nutrition-info p {
    font-size: .9rem;
}

.nutrition-info article {
    padding-bottom: 3rem;
}

.sourse {
    font-size: .8rem;
}

.sourse>a {
    color: #030202;
}

/* Styling the gladiator section */
#athletes h2 {
    font-size: 150%;
}

#gladiator {
    height: 12rem;
    border-radius: 50%;
    /* To align in the center */
    display: block;
    margin: 2rem auto;
}

/* Styling the list of athletes*/
/* Rewrite the size of h2 element, make it smaller */
#veg-header h2 {
    font-size: 100%;
}

#veg-header h3 {
    font-size: 90%;
    font-weight: 500;
    font-style: italic;
    margin: .5rem;
}

.veg-athlete {
    height: 7rem;
    border-radius: 50%;
    display: block;
    margin: .5rem auto;
}

dt {
    font-size: 110%;
    font-weight: 500;
    text-align: center;

}

dd {
    font-size: 80%;
    font-style: italic;
    color: #696661;
    margin-bottom: .5rem;
}

/* Styling the movie buttom */
#movie-buttom {
    text-align: center;
    margin-top: 1rem;
}

#movie-buttom a {
    background-color: #1F1E1B;
    color: #fafafa;
    display: inline-block;
    text-decoration: none;
    font-size: 105%;
    border: 1px solid #696661;
    border-radius: 5px;
    padding: 1rem;
}

/* Styling the table on nutrition.html page */
#bean-beef {
    width: 100%;
    /* to make the table responsive */
    border-collapse: collapse;
}

caption {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

th,
td {
    padding: .2rem;
}

th {
    text-align: left;
}

/* Make every other line lighter */
tr:nth-of-type(2n) {
    background-color: rgba(255, 255, 255, .5);
}

/* Styling the iframe */
#game-changers {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-bottom: 2rem;
}

#game-changers h2 {
    align-items: center;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Footer */
footer {
    position: fixed;
    height: 3rem;
    width: 100%;
    bottom: 0;
    background-color: var(--background);
}

#social-media {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#social-media i {
    font-size: 110%;
    color: #1F1E1B;
}

/* Media query: Tablets and larger (768px and bigger)*/
@media screen and (min-width: 768px) {
/* Make the text bigger */
    body {
        font-size: 130%;
    }

    /* Main */
    /* Push the main content underneath the header */
    main {
        margin-top: 6rem;
    }

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: .5rem;
    }

    /* To put the links next to each other */
    #menu {
        display: flex;
    }

    /* Make some space between */
    #menu>li {
        padding-left: 1.5rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Make the logo bigger */
    #logo {
        font-size: 190%;
        line-height: 5rem;
        margin: 0 1rem;
    }

    #logo-v {
        height: 2.7rem;
        width: 1.7rem;
        left: 16.5rem;
        top: 1.5rem;
    }

    /* Main content */
    #hero-img {
        height: 43rem;
        background-size: 180%;
    }

    /*Pushing the quote down for bigger screens */
    #quote {
        top: 28rem;
    }

    /* Push the main content underneath the header */
    main {
        margin-top: 6rem;
    }

    .nutrition-info {
        top: 50rem;
        padding: 2rem;
    }

        /* Styling the nutrition.html page */
        /* Scaleing the vegan athletes names and pictures */
        #vegan-athletes>h3 {
            font-size: 120%;
        }
    
        dt {
            font-size: 135%;
        }
    
        .veg-athlete {
            height: 12rem;
        }
    
        #plant-protein>h2 {
            font-size: 120%;
        }

    /* Footer*/
    #social-media {
        padding-left: 55%;
    }
}

/* Media query: Tablets and larger (992px and bigger)*/
@media screen and (min-width: 992px) {

    /* Header */
    #menu a:hover {
        border-bottom: 1px solid #030202;
    }

    /*Styling the hero image*/
    #hero-img {
        background-size: 90%;
        background-position: 300% 30%;
    }

    /*Pushing the quote down and making it bigger for bigger screens */
    #quote {
        top: 28rem;
        font-size: 180%;
    }

    .nutrition-info {
        top: 50rem;
        padding: 2rem;
    }

    /* Making the text in 2 columns to make the reading easier */
    .nutrition-info article {
        columns: 2 250px;
    }

    /* Footer */
    #social-media {
        padding-left: 70%;
    }
}